/* css styles */

.navbar-nav .dropdown-menu {
    min-width: 3rem;
  }
  
.btn {
      background-color: #212529;
      border-color: #212529;
  }

  .btn-primary {
    --bs-btn-bg: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
  }
  
.btn:hover {
      background-color: #81817e;
  }
  
a {
      text-decoration: none;
      color: #325d88;
  }
